<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My website</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/ouvrages">Ouvrages</a></li>
      <li><a routerLink="/chausses">Chaussées</a></li>
      <li><a routerLink="/dispositifs">Dispositifs</a></li>
      <li><a routerLink="/assainissements">Assainissements</a></li>
      <li><a routerLink="/equipements">Equipements</a></li>
      <li><a routerLink="/terrasements">Térrassements</a></li>

    </ul>
  </div>
</nav>

<!--<div class="container">
  <div class="col-md-3">
    <ul *ngIf="chausses" class="list-group" >
      <li class="list-group-item" *ngFor="let c of chausses._embedded.chausses">
        {{c.name}}
      </li>
    </ul>
    <div class="col-md-9">

    </div>

  </div>

</div>!-->

      <router-outlet>

      </router-outlet>


